footer {
  background: var(--background-color);
  font-size: 10px;
  position: sticky;
  bottom: 0%;
  right: 0%;
  padding: 8px;
  display: flex;
  justify-content: flex-end;
}

.none {
  display: none !important;
}

.hidden {
  visibility: hidden !important;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.col {
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: var(--background-color);
}
header h1 {
  font-size: 32px;
  text-align: center;
}
header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
header nav ul {
  list-style: none;
  display: flex;
  gap: 8px;
  justify-content: flex-end;
  text-align: right;
}
header nav ul li {
  border-bottom: 2px solid var(--accent-color);
}
header nav button {
  background: none;
}
header nav button:hover {
  background: var(--accent-color-light);
}

.content-container {
  display: flex;
  flex-direction: column;
  padding: 24px;
  gap: 8px;
  justify-content: center;
  max-width: 800px;
  background: var(--background-color);
}
.content-container h2 {
  text-align: center;
}
.content-container p {
  text-align: center;
}

#rated-list li > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.book-list {
  padding: 8px;
  border-bottom: 1px solid var(--text-color);
}
.book-list ul {
  display: flex;
  flex-direction: column;
}
.book-list .book-card {
  padding: 8px;
  gap: 4px;
  border-bottom: 1px solid black;
}
.book-list li {
  transition: 300ms;
  display: flex;
}
.book-list li:hover {
  background: rgb(223, 221, 207);
}
.book-list li .add {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 4px;
  margin-left: 4px;
}
.book-list li .add button:hover {
  background: var(--accent-color);
  scale: 1.1;
}
.book-list svg {
  height: 1.4rem;
  transform: rotateY(180deg) translateY(4px);
}
.book-list svg:hover {
  transform: scale(1.2) rotateY(180deg);
}
.book-list svg:hover .wing {
  transform: rotate(2deg);
}
.book-list svg:hover .eye {
  transform: translateX(-7px);
  fill: rgb(21, 69, 28);
}
.book-list img {
  margin-right: 12px;
}

section.upper-section {
  display: flex;
  justify-content: center;
  gap: 8px;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  width: 100%;
  min-height: 300px;
  background: var(--background-color);
}
section.upper-section .content-container {
  display: flex;
  justify-content: flex-start;
  margin: 0, auto;
}
section.upper-section .content-container > div {
  width: 100%;
}
section.upper-section #to-read-list li {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
section.upper-section #rated-list li {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media only screen and (min-width: 1000px) {
  .list-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 16px;
    width: 100%;
  }
  header {
    padding: 16px;
    gap: 16px;
  }
}
details {
  width: 100%;
}
details summary {
  width: 100%;
  display: flex;
  margin-top: 26px;
}
details summary h3 {
  width: 100%;
}

.login-container {
  display: flex;
  flex-direction: row;
  gap: 24px;
  justify-content: center;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
.login-container.llogin {
  flex-direction: column;
}
.login-container .login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  justify-content: center;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
.login-container div {
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  --background-color: #ffffff;
  --text-color: #0b0b0b;
  --accent-color: #f6c769;
  --accent-color-light: #f6c769;
}

* {
  padding: 0;
  margin: 0;
  font-size: clamp(14px, 1.2vw, 24px);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  border: none;
  padding: 4px;
  font-weight: bold;
  background: var(--accent-color);
}
button:hover {
  background: var(--accent-color-light);
}/*# sourceMappingURL=style.css.map */