
.book-list {
    border-bottom: 1px solid black;
    ul{
        display: flex;
        flex-direction: column;
    }
    .book-card{
        padding: 8px;
        gap: 4px;
        border-bottom:1px solid black;
        >div:first-child{
            //outline: 1px solid red;
            aspect-ratio: 1/1;
        }
    }
    li{
        transition: 300ms;
        display: flex;
    }
    svg{
        height: 1.4rem;
        transform: rotateY(180deg);
        &:hover{
            transform: scale(1.2) rotateY(180deg);
        }
    }

}