    details {
        width: 100%;

        summary {
            //width: 100%;
            //display: flex;
            margin-bottom: 26px;

            h3 {
                width: 100%;
            }
        }
    }