header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: var(--background-color);
    ;

    h1 {
        font-size: 32px;



        text-align: center;
    }

    nav {

        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        ul {
            //border: 1px solid green;
            list-style: none;
            display: flex;
            gap: 8px;
            justify-content: flex-end;
            text-align: right;
            li{
                border-bottom: 2px solid var(--accent-color);
            }

        }
        button {
            background: none;
            &:hover{
                background: var(--accent-color-light)
            }
        }
    }

    ;

}