.content-container {
    display: flex;
    flex-direction: column;
    padding: 24px;
    gap: 8px;
    justify-content:  center;
    max-width: 800px;
    background: var(--background-color);
    h2{
        text-align: center;
    }
    p{

        text-align: center;
    }

}

