section.upper-section {
    display: flex;
    //flex-direction: column;
    justify-content: center;
    // align-items: center;
    gap: 8px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    width: 100%;
    min-height: 300px;
    background: var(--background-color);

    .content-container {
        display: flex;
        justify-content: flex-start;
        margin: 0, auto;
        >div{
            width: 100%;
        }   
    }
    #to-read-list {
        li {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
    }

    #rated-list {
        li {
            width: 100%;
            display: flex;
            justify-content: space-between;

        }
    }


}