$font-color: hsl(47, 72%, 43%);
$h: 47;
$s: 72%;
$gradient-0: hsl($h, $s, 24%);
$gradient-1: hsl($h, $s, 27%);
$gradient-2: hsl($h, $s, 30%);
$gradient-3: hsl($h, $s, 33%);
$gradient-4: hsl($h, $s, 43%);

$dark: hsl(220, 0%, 8%);
$dark-gray: hsl(220, 0%, 4%);

